/* *{
    outline: 1px solid #ff009926;
} */
body {
  background-color: black;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

main {
  overflow-y: hidden;
}

.index {
  height: 1200px;
  background-color: black;
}

.logo {
  width: 100%;
  max-width: 270px;
  margin: 70px auto;
}

.indexText {
  position: absolute;
  width: 100%;
  bottom: 14%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.indexText p {
  position: relative;
  margin: auto;
}

.pelota {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  animation-name: anima;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 14s;
}

@keyframes anima {
  0% {
    top: 0;
  }
  25% {
    top: 50%;
    /* transform: rotate(-5deg); */
  }
  50% {
    top: 100%;
    margin-top: -50px;
    transform: rotate(-10deg);
  }
  75% {
    top: 50%;
    /* transform: rotate(-15deg); */
  }
  100% {
    top: 0;
  }
}

.hero {
  height: 320px;
}

.green {
  background-color: #c3ff00;
}

.button-iniciar {
  border-radius: 30px;
  padding: 0px 32px;
  text-align: center;
  margin-top: 25px;
}

.button-iniciar a {
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.buttonOne {
  border-radius: 30px;
  padding: 0px 32px;
  text-align: center;
  font-size: 18px;
}

.display {
  height: 800px;
  background-color: black;
  font-size: 30px;
}

.displayTitle {
  font-weight: bold;
}

.displayText {
  max-width: 70%;
  text-align: start;
}

.mainPic1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/tribuna2.jpg");
  background-position: center;
  background-size: cover;
}

.mainPic1:hover .displayText {
  height: 70%;
  opacity: 1;
}

.mainPic2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/contrato.jpg");
  background-position: center;
  background-size: cover;
}

.mainPic2:hover .displayText {
  height: 80%;
  opacity: 1;
}

.mainPic3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/oficina.jpg");
  background-position: center;
  background-size: cover;
}

.mainPic3:hover .displayText {
  height: 65%;
  opacity: 1;
}

.displayTitle {
  font-weight: bold;
  color: white !important;
}

.displayText {
  max-width: 70%;
  text-align: start;
  color: #e0dcdc;
  font-size: 1rem;
  height: 0;
  opacity: 0;
  transition: 0.5s ease;
}

@media (max-width: 1070px) {
  .displayText {
    font-size: 40% !important;
  }
}

.footer {
  background-color: black;
  font-size: 12.5px;
}

.footer div div {
  display: flex;
  justify-content: center;
}

.footer p {
  margin-bottom: 0;
}

.introduccion {
  margin-top: 8rem;
}

.intro-flecha {
  cursor: pointer;
}

.intro-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  color: #c3ff00;
}

.intro-text {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e0dcdc;
}

@media (min-width: 990px) {
  .intro-title {
    font-size: 3rem;
  }
  .intro-text {
    padding: 3.5rem;
  }
  .introduccion {
    max-width: 830px;
  }
}

.seccion-ia {
  height: 100vh;
  background: url("../media//pelotafondo.jpg");
  background-position: center;
  background-size: cover;
}

.ia-title h2 {
  font-size: 6.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  color: #c3ff00;
}

.ia-title h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  color: #c3ff00;
}

.ia-text {
  color: #e0dcdc;
  width: 500px;
  font-size: 1.2rem;
}

.buttonTwo {
  border-radius: 30px;
  padding: 0px 32px;
  text-align: center;
  font-size: 18px;
}

.pushbar {
  position: absolute;
  right: -100%;
  transition: 2s ease;
  height: 100%;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.2);
}

.pushbar-open {
  right: 0;
  transition: 1s ease;
}

.ia {
  transition: 1.7s;
}

.seccion-data {
  height: 100vh;
  background: url("../media/cancha.jpg");
  background-position: center;
  background-size: cover;
}

.data-title p {
  font-family: "DinBlackItalic";
  color: #c3ff00;
  font-size: 90px;
  margin-bottom: 0;
}

.data-title p:nth-child(2) {
  font-size: 50px;
}

.data-text {
  color: white;
  max-width: 500px;
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .seccion-ia {
    height: 60vh;
  }
  .close {
    display: block !important;
    font-size: 3rem;
    color: white;
  }
  .pushbar-open {
    right: 0;
    width: 100%;
  }
  .ia-content {
    transform: translatex(-100%);
    transition: 1s ease;
  }
}

@font-face {
  font-family: 'DinBlackItalic';
  /*a name to be used later*/
  src: url("../media/DINPro-BlackItalic.ttf");
  /*URL to font*/
}

@font-face {
  font-family: 'DinBold';
  /*a name to be used later*/
  src: url("../media/DINPro-Bold.ttf");
  /*URL to font*/
}

.s-wrap {
  width: 100%;
  /* margin-bottom: 50px; */
  padding-bottom: 34%;
  position: relative;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-height: 629px;
}

.s-wrap > input {
  display: none;
}

.s-wrap .s-content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  font-size: 0;
  list-style: none;
  transition: transform 1s;
}

.s-wrap .s-item {
  display: inline-block;
  width: 33.33333%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.s-wrap .s-item-1 {
  background-image: url("../media/jugadores.jpg");
  background-position: center;
  background-size: cover;
}

.s-wrap .s-item-2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/monchi2.jpg");
}

.s-wrap .s-item-2 p {
  position: absolute;
  font-size: 17px;
}

.s-wrap .s-item-2 p:nth-child(1) {
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  color: #c3ff00;
  font-family: "DinBlackItalic";
  margin-top: 16px;
}

.s-wrap .s-item-2 p:nth-child(2) {
  color: white;
  left: 41%;
  top: 40%;
  max-width: 18%;
  text-align: center;
}

.s-wrap .s-item-3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/tribuna.jpg");
}

.s-wrap .s-item-3 p {
  position: absolute;
  font-size: 17px;
}

.s-wrap .s-item-3 p:nth-child(1) {
  top: 12%;
  left: 83.1%;
  transform: translateX(-47%);
  color: #c3ff00;
  font-family: "DinBlackItalic";
  margin-top: 16px;
}

.s-wrap .s-item-3 p:nth-child(2) {
  color: white;
  left: 75%;
  top: 28%;
  max-width: 18%;
  text-align: center;
  margin-top: 29px;
}

@media (max-width: 1266px) {
  .s-item-3 p {
    font-size: 15px !important;
    max-width: 24% !important;
    transform: translateX(-16%);
  }
}

@media (max-width: 857px) {
  .s-item-2 p:nth-child(2) {
    top: 28% !important;
    font-size: 16px !important;
  }
}

@media (max-width: 666px) {
  .s-item-2 {
    background-position: center;
  }
  .s-item-3 p {
    font-size: 13px !important;
    max-width: 24% !important;
    transform: translateX(-16%);
  }
  .s-item-3 p:nth-child(2) {
    margin-top: -5px !important;
  }
}

@media (max-width: 575px) {
  .s-item-2 p:nth-child(2) {
    font-size: 14px !important;
    max-width: 25% !important;
    transform: translateX(-12%);
  }
}

@media (max-width: 440px) {
  .s-item-3 p {
    font-size: 11px !important;
  }
}

.s-type-1 .s-control {
  position: absolute;
  top: 129px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition-timing-function: ease-out;
}

.s-type-1 .s-control > label[class^="s-c-"] {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #c3ff00;
  cursor: pointer;
}

.s-type-1 .s-title {
  color: #c3ff00;
  font-family: "DinBlackItalic";
}

.s-type-1 .s-nav {
  position: absolute;
  top: 28px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.s-type-1 .s-nav label {
  display: none;
  position: absolute;
  top: 9%;
  /* padding: 5px 20px; */
  /* transform: translateY(-50%); */
  cursor: pointer;
  /* &::before,
        &::after {
        content: "";
        display: block;
        width: 8px;
        height: 24px;
        background-color: #c3ff00;;
        } */
  /* &::before {margin-bottom: -12px;} */
}

.s-type-1 .s-nav label.left {
  left: -79px;
  /* &::before {transform: rotate(45deg);}

        &::after {transform: rotate(-45deg);} */
}

.s-type-1 .s-nav label.right {
  right: -82px;
  /* &::before {transform: rotate(-45deg);}

        &::after {transform: rotate(45deg);} */
}

.s-type-1 .s-nav-right {
  color: #c3ff00;
  width: 45px;
  transform: rotate(90deg);
}

.s-type-1 .s-nav-left {
  color: #c3ff00;
  width: 45px;
  transform: rotate(-90deg);
}

.s-type-1 #s-1:checked ~ .s-content {
  transform: translateX(0%);
}

.s-type-1 #s-1:checked ~ .s-control .s-c-1 {
  background-color: #c3ff00;
}

.s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
  display: block;
}

.s-type-1 #s-2:checked ~ .s-content {
  transform: translateX(-33.33333%);
}

.s-type-1 #s-2:checked ~ .s-control .s-c-2 {
  background-color: #c3ff00;
}

.s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
  display: block;
}

.s-type-1 #s-3:checked ~ .s-content {
  transform: translateX(-66.66667%);
}

.s-type-1 #s-3:checked ~ .s-control .s-c-3 {
  background-color: #c3ff00;
}

.s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
  display: block;
}

#sliderPushbar .s-wrapB {
  width: 100%;
  /* margin-bottom: 50px; */
  padding-bottom: 34%;
  position: relative;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-height: 629px;
}

#sliderPushbar .s-wrapB > input {
  display: none;
}

#sliderPushbar .s-wrapB .s-contentB {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 600%;
  height: 100%;
  font-size: 0;
  list-style: none;
  transition: transform 1s;
}

#sliderPushbar .s-wrapB .s-itemB {
  display: inline-block;
  width: 16.66667%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#sliderPushbar .s-wrapB .s-item-1B {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), #8e6bc9;
  background-position: center;
  background-size: cover;
}

#sliderPushbar .s-wrapB .s-item-1B p {
  position: absolute;
  font-size: 17px;
}

#sliderPushbar .s-wrapB .s-item-1B p:nth-child(1) {
  top: 10%;
  left: 8%;
  transform: translateX(-40%);
  color: #c3ff00;
  font-family: "DinBlackItalic";
  margin-top: 16px;
}

#sliderPushbar .s-wrapB .s-item-1B p:nth-child(2) {
  color: white;
  left: 2%;
  top: 32%;
  max-width: 12%;
  text-align: start;
  transform: translateX(2%);
}

#sliderPushbar .s-wrapB .s-item-2B {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), #8e6bc9;
}

#sliderPushbar .s-wrapB .s-item-2B p {
  position: absolute;
  font-size: 16px;
}

#sliderPushbar .s-wrapB .s-item-2B p:nth-child(1) {
  top: 10%;
  left: 25%;
  transform: translateX(-55%);
  color: #c3ff00;
  font-family: "DinBlackItalic";
  margin-top: 16px;
}

#sliderPushbar .s-wrapB .s-item-2B p:nth-child(2) {
  color: white;
  left: 16%;
  top: 28%;
  max-width: 13%;
  text-align: start;
  transform: translateX(19%);
}

#sliderPushbar .s-wrapB .s-item-3B {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), #8e6bc9;
}

#sliderPushbar .s-wrapB .s-item-3B p {
  position: absolute;
  font-size: 17px;
}

#sliderPushbar .s-wrapB .s-item-3B p:nth-child(1) {
  top: 10%;
  left: 39%;
  color: #c3ff00;
  font-family: "DinBlackItalic";
  margin-top: 16px;
  transform: translateX(15%);
}

#sliderPushbar .s-wrapB .s-item-3B img {
  max-width: 451px;
  position: absolute;
  left: 38%;
  top: 60%;
}

#sliderPushbar .s-wrapB .s-item-3B img:nth-child(2) {
  left: 38%;
  top: 26%;
}

#sliderPushbar .s-wrapB .s-item-4B {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), #8e6bc9;
}

#sliderPushbar .s-wrapB .s-item-4B p {
  position: absolute;
  font-size: 17px;
}

#sliderPushbar .s-wrapB .s-item-4B p:nth-child(1) {
  top: 10%;
  left: 54%;
  transform: translateX(24%);
  color: #c3ff00;
  font-family: "DinBlackItalic";
  margin-top: 16px;
}

#sliderPushbar .s-wrapB .s-item-4B p:nth-child(2) {
  color: white;
  left: 53%;
  top: 18%;
  max-width: 12%;
  text-align: center;
  margin-top: 29px;
  transform: translateX(-4%);
}

#sliderPushbar .s-wrapB .s-item-4B img {
  position: absolute;
  max-width: 520px;
  top: 48%;
  left: 54%;
}

#sliderPushbar .s-wrapB .s-item-5B {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), #8e6bc9;
}

#sliderPushbar .s-wrapB .s-item-5B p {
  position: absolute;
  font-size: 17px;
}

#sliderPushbar .s-wrapB .s-item-5B p:nth-child(1) {
  top: 10%;
  left: 75%;
  transform: translateX(-47%);
  color: #c3ff00;
  font-family: "DinBlackItalic";
  margin-top: 16px;
}

#sliderPushbar .s-wrapB .s-item-5B p:nth-child(2) {
  color: white;
  left: 68%;
  top: 28%;
  max-width: 13%;
  text-align: center;
  transform: translateX(3%);
}

#sliderPushbar .s-wrapB .s-item-6B {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), #8e6bc9;
}

#sliderPushbar .s-wrapB .s-item-6B p {
  position: absolute;
  font-size: 17px;
}

#sliderPushbar .s-wrapB .s-item-6B p:nth-child(1) {
  top: 10%;
  left: 89%;
  color: #c3ff00;
  font-family: "DinBlackItalic";
  margin-top: 16px;
  transform: translateX(19%);
}

#sliderPushbar .s-wrapB .s-item-6B p:nth-child(2) {
  color: white;
  left: 85%;
  top: 28%;
  max-width: 13%;
  text-align: center;
}

#sliderPushbar .s-type-1B .s-controlB {
  position: absolute;
  top: 45px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition-timing-function: ease-out;
}

#sliderPushbar .s-type-1B .s-controlB > label[class^="sB-c-"] {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #c3ff00;
  cursor: pointer;
}

#sliderPushbar .s-type-1B .s-title {
  color: #c3ff00;
  font-family: "DinBlackItalic";
}

#sliderPushbar .s-type-1B .s-navB {
  position: absolute;
  top: 28px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

#sliderPushbar .s-type-1B .s-navB label {
  display: none;
  position: absolute;
  top: 9%;
  cursor: pointer;
}

#sliderPushbar .s-type-1B .s-navB label.left {
  left: -177px;
}

#sliderPushbar .s-type-1B .s-navB label.right {
  right: -168px;
}

#sliderPushbar .s-type-1B .s-navB-right {
  color: #c3ff00;
  width: 45px;
  transform: rotate(90deg);
}

#sliderPushbar .s-type-1B .s-navB-left {
  color: #c3ff00;
  width: 45px;
  transform: rotate(-90deg);
}

#sliderPushbar .s-type-1B #sB-1:checked ~ .s-contentB {
  transform: translateX(0%);
}

#sliderPushbar .s-type-1B #sB-1:checked ~ .s-controlB .sB-c-1 {
  background-color: #c3ff00;
}

#sliderPushbar .s-type-1B #sB-1:checked ~ .s-navB .s-navB-1 {
  display: block;
}

#sliderPushbar .s-type-1B #sB-2:checked ~ .s-contentB {
  transform: translateX(-16.66667%);
}

#sliderPushbar .s-type-1B #sB-2:checked ~ .s-controlB .sB-c-2 {
  background-color: #c3ff00;
}

#sliderPushbar .s-type-1B #sB-2:checked ~ .s-navB .s-navB-2 {
  display: block;
}

#sliderPushbar .s-type-1B #sB-3:checked ~ .s-contentB {
  transform: translateX(-33.33333%);
}

#sliderPushbar .s-type-1B #sB-3:checked ~ .s-controlB .sB-c-3 {
  background-color: #c3ff00;
}

#sliderPushbar .s-type-1B #sB-3:checked ~ .s-navB .s-navB-3 {
  display: block;
}

#sliderPushbar .s-type-1B #sB-4:checked ~ .s-contentB {
  transform: translateX(-50%);
}

#sliderPushbar .s-type-1B #sB-4:checked ~ .s-controlB .sB-c-4 {
  background-color: #c3ff00;
}

#sliderPushbar .s-type-1B #sB-4:checked ~ .s-navB .s-navB-4 {
  display: block;
}

#sliderPushbar .s-type-1B #sB-5:checked ~ .s-contentB {
  transform: translateX(-66.66667%);
}

#sliderPushbar .s-type-1B #sB-5:checked ~ .s-controlB .sB-c-5 {
  background-color: #c3ff00;
}

#sliderPushbar .s-type-1B #sB-5:checked ~ .s-navB .s-navB-5 {
  display: block;
}

#sliderPushbar .s-type-1B #sB-6:checked ~ .s-contentB {
  transform: translateX(-83.33333%);
}

#sliderPushbar .s-type-1B #sB-6:checked ~ .s-controlB .sB-c-6 {
  background-color: #c3ff00;
}

#sliderPushbar .s-type-1B #sB-6:checked ~ .s-navB .s-navB-6 {
  display: block;
}

.nav-dots {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.nav-dot {
  width: 12px;
  height: 12px;
  border: 2px solid #c3ff00;
  border-radius: 50%;
  list-style: none;
  background: transparent;
  transition: all 0.3s;
}

.nav-dot:not(:last-of-type) {
  margin-bottom: 20px;
}

.nav-dot:hover, .nav-dot.is-active {
  transform: scale(1.8);
  background: #c3ff00;
}

.section {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.section:nth-of-type(1) {
  background-image: url(/media/background1.jpg);
  background-position: center;
}

.section:nth-of-type(2) {
  background-image: url(/media/background1b.jpg);
}

.section:nth-of-type(3) {
  background-color: #ffc952;
}

.section:nth-of-type(4) {
  background-color: #ff7473;
}

.section:nth-of-type(5) {
  background-color: #ffc952;
}

.verticalSlider {
  overflow-x: hidden;
}

.section__heading {
  margin: 0;
  color: white;
  font-size: 32px;
  text-transform: capitalize;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -30px;
  position: absolute;
  z-index: 100;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #c3ff00;
  font-family: "DinBlackItalic";
  font-size: 3.9rem !important;
}

.left-text {
  background-color: transparent;
}

.right-slide {
  height: 100%;
  /* position: absolute; */
  top: 0;
  /* left: 15%;
  width: 85%; */
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.right-slide p {
  color: white;
  font-size: 15px;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.slideOne {
  background-image: url("/media/background1.jpg");
}

.slideOne p {
  font-size: 14px;
}

.slideTwo {
  background-image: url("/media/background1b.jpg");
}

.slideTwo img {
  min-width: 980px;
}

.slideTwo p {
  max-width: 45%;
  text-align: center;
  margin: auto;
}

.slideThree {
  background-image: url("/media/background3.jpg");
}

.slideThreeImage {
  background-image: url("/media/data1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slideFour {
  background-image: url("/media/background3b.jpg");
}

.slideFourImage {
  background-image: url("/media/data2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slideFive {
  background-image: url("/media/background3.jpg");
}

.slideFiveImage {
  background-image: url("/media/data3.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slideSix {
  background-image: url("/media/background2.jpg");
}

@media (max-width: 576px) {
  .slideOne p {
    font-size: 1.64vw;
  }
}

@media (max-width: 1604px) {
  .slideOne p {
    font-size: 11px;
  }
}

.slider-container .action-buttons img {
  position: absolute;
  left: 6.3%;
  top: 50%;
  z-index: 100;
}

.action-buttons img {
  width: 45px;
  cursor: pointer;
}

.slider-container .action-buttons .down-button {
  transform: translateY(-650%) rotate(0deg);
}

.slider-container .action-buttons .up-button {
  transform: translateY(450%) rotate(-180deg);
}

.verticalTitle {
  color: #c3ff00 !important;
  font-family: "DinBlackItalic";
}

.verticalGrafico {
  min-width: 1170px;
}

.verticalScroll {
  overflow-x: scroll;
}

.nav-dots {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.nav-dot {
  width: 12px;
  height: 12px;
  border: 2px solid #c3ff00;
  border-radius: 50%;
  list-style: none;
  background: transparent;
  transition: all 0.3s;
}

.nav-dot:not(:last-of-type) {
  margin-bottom: 20px;
}

.nav-dot:hover, .nav-dot.is-active {
  transform: scale(1.8);
  background: #c3ff00;
}

.section {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.section:nth-of-type(1) {
  background-image: url(/media/background1.jpg);
  background-position: center;
}

.section:nth-of-type(2) {
  background-image: url(/media/background1b.jpg);
}

.section:nth-of-type(3) {
  background-color: #ffc952;
}

.section:nth-of-type(4) {
  background-color: #ff7473;
}

.section:nth-of-type(5) {
  background-color: #ffc952;
}

.verticalSlider {
  overflow-x: hidden;
}

.section__heading {
  margin: 0;
  color: white;
  font-size: 32px;
  text-transform: capitalize;
}

.slider-containerB {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slideB {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slideB > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slideB p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -30px;
  position: absolute;
  z-index: 100;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #c3ff00;
  font-family: "DinBlackItalic";
  font-size: 3.9rem !important;
}

.left-text {
  background-color: transparent;
}

.right-slideB {
  font-size: 16px;
  height: 100%;
  /* position: absolute; */
  top: 0;
  /* left: 15%;
    width: 85%; */
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.right-slideB p {
  color: white;
  font-size: 1.125em;
}

@media (max-width: 730px) {
  .right-slideB {
    font-size: 15px;
  }
}

@media (max-width: 608px) {
  .right-slideB {
    font-size: 14px;
  }
}

@media (max-width: 571px) {
  .right-slideB {
    font-size: 12px;
  }
}

@media (max-width: 463px) {
  .right-slideB {
    font-size: 10px;
  }
}

.right-slideB > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.slideUno {
  background-image: url("/media/background1.jpg");
}

.slideDos {
  background-image: url("/media/background1b.jpg");
}

.slideTres {
  background-image: url("/media/background1.jpg");
}

.slideCuatro {
  background-image: url("/media/background1b.jpg");
}

.slideCuatro img {
  min-width: 1010px;
}

.slideCinco {
  background-image: url("/media/background3.jpg");
}

.slideCincoImage {
  background-image: url("/media/data1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slideSeis {
  background-image: url("/media/background3b.jpg");
}

.slideSeisImage {
  background-image: url("/media/data2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slideSiete {
  background-image: url("/media/background3.jpg");
}

.slideSieteImage {
  background-image: url("/media/data3.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slideOcho {
  background-image: url("/media/background2.jpg");
}

.slideOcho img {
  min-width: 610px;
}

.slideNueve {
  background-image: url("/media/background2.jpg");
}

.slider-containerB .action-buttonsB img {
  position: absolute;
  left: 6.3%;
  top: 50%;
  z-index: 100;
}

.action-buttonsB img {
  width: 45px;
  cursor: pointer;
}

.slider-containerB .action-buttonsB .down-buttonB {
  transform: translateY(-650%) rotate(0deg);
}

.slider-containerB .action-buttonsB .up-buttonB {
  transform: translateY(450%) rotate(-180deg);
}

.verticalTitle {
  color: #c3ff00 !important;
  font-family: "DinBlackItalic";
}

.verticalGrafico {
  min-width: 1170px;
}

.verticalScroll {
  overflow-x: scroll;
}
