* {
  outline: 1px solid #ff009926;
}

.index {
  height: 800px;
  background-color: black;
}

.logo {
  max-width: 37%;
  margin: auto;
}

.pelota {
  max-width: 37%;
  margin: auto;
}

.hero {
  height: 320px;
}

.green {
  background-color: #c3ff00;
}

.buttonOne {
  border-radius: 30px;
  padding: 3px 42px;
  font-weight: bold;
}
