/* *{
    outline: 1px solid #ff009926;
} */
body {
  background-color: black;
  scroll-behavior: smooth;
}

main {
  overflow-y: hidden;
}

.index {
  height: 1200px;
  background-color: black;
}
.logo {
  width: 100%;
  max-width: 270px;
  margin: 70px auto;
}
.pelota {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
}
.hero {
  height: 320px;
}
.green {
  background-color: $color-principal;
}

.button-iniciar {
  border-radius: 30px;
  padding: 0px 32px;
  text-align: center;
}

.button-iniciar a {
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.buttonOne {
  border-radius: 30px;
  padding: 0px 32px;
  text-align: center;
  font-size: 18px;
}
.display {
  height: 800px;
  background-color: black;
  font-size: 30px;
  &Title {
    font-weight: bold;
  }
  &Text {
    max-width: 70%;
    text-align: start;
  }
}
.mainPic1 {
  background-image: url("../media/tribuna2.jpg");
  background-position: center;
  background-size: cover;
}
.mainPic2 {
  background: url("../media/contrato.jpg");
  background-position: center;
  background-size: cover;
}
.mainPic3 {
  background: url("../media/oficina.jpg");
  background-position: center;
  background-size: cover;
}

.displayTitle {
  font-weight: bold;
  color: white !important;
}

.displayText {
  max-width: 70%;
  text-align: start;
  color: $font-color;
}

.footer {
  background-color: black;
  font-size: 12.5px;
  div {
    div {
      display: flex;
      justify-content: center;
    }
  }
  p {
    margin-bottom: 0;
  }
}
