/* *{
  outline: 1px solid #ff009926;
} */
body {
  background-color: black;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

main {
  overflow-y: hidden;
}

.index {
  height: 100vh;
  background-color: black;
  margin-bottom: 40px;
}
@media (max-height: 885px) {
  .index {
    height: 115vh;
  }
}
@media (max-height: 800px) {
  .index {
    height: 125vh;
  }
}
@media (max-height: 740px) {
  .index {
    height: 155vh;
  }
}
.logo {
  width: 100%;
  max-width: 270px;
  margin: 70px auto;
}
.indexText {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  p {
    position: relative;
    margin: auto;
  }
}
.pelota {
  width: 100%;
  margin-bottom: 5rem !important;
  max-width: 500px;
  // margin-top: 6rem !important;
  margin: 40px auto;
  animation-name: anima;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 14s;
}
@keyframes anima {
  0% {
    top: 0;
  }
  25% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(50%);
    transform: rotate(-10deg);
  }
  75% {
    transform: translateY(15%);
    /* transform: rotate(-15deg); */
  }
  100% {
    top: 0;
  }
}
.hero {
  height: 320px;
}
.green {
  background-color: $color-principal;
}

.button-iniciar {
  border-radius: 30px;
  padding: 0px 32px;
  text-align: center;
  margin-top: 25px;
}

.button-iniciar a {
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.buttonOne {
  border-radius: 30px;
  padding: 0px 32px;
  text-align: center;
  font-size: 18px;
}
.display {
  height: 800px;
  background-color: black;
  font-size: 30px;
  &Title {
    font-weight: bold;
  }
  &Text {
    max-width: 70%;
    text-align: start;
  }
  div {
    min-height: 470px;
  }
}
.mainPic1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../media/tribuna2.jpg");
  background-position: center;
  background-size: cover;
  &:hover .displayText {
    height: 70%;
    opacity: 1;
  }
}
.mainPic2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../media/contrato.jpg");
  background-position: center;
  background-size: cover;
  &:hover .displayText {
    height: 80%;
    opacity: 1;
  }
}
.mainPic3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../media/oficina.jpg");
  background-position: center;
  background-size: cover;
  &:hover .displayText {
    height: 65%;
    opacity: 1;
  }
}

.displayTitle {
  font-weight: bold;
  color: white !important;
}

.displayText {
  max-width: 70%;
  text-align: start;
  color: $font-color;
  font-size: 1rem;
  height: 0;
  opacity: 0;
  transition: 0.9s ease;
}
@media (max-width: 1070px) {
  .displayText {
    font-size: 40% !important;
  }
}
@media (max-width: 768px) {
  #first-page {
    margin-bottom: 660px;
  }
}

.footer {
  background-color: black;
  font-size: 12.5px;
  div {
    div {
      display: flex;
      justify-content: center;
    }
  }
  p {
    margin-bottom: 0;
  }
}

//...........................

.wrapper {
  width: 600px;
  height: 300px;
  position: relative;
  background-color: var(--wrapper-background-c);
  box-shadow: 0 0 80px var(--wrapper-shadow-c);
}

/* Images Area */
.images-area {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.images-area img {
  width: 100%;
  transition: 0.3s cubic-bezier(0.79, 0.03, 0, 0.99);
}

/* Buttons Area  */
.buttons-area {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.buttons-area > div {
  color: var(--white-c);
  background-color: var(--buttons-background-c);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/* Buttons | Previous And Next */
.buttons-area > div:first-child {
  border-radius: 0 5px 5px 0;
  margin-left: -100px;
}
.buttons-area > div:last-child {
  border-radius: 5px 0 0 5px;
  margin-right: -100px;
}
/* Show The Buttons */
.wrapper:hover .buttons-area > div:first-child {
  margin-left: 0;
}
.wrapper:hover .buttons-area > div:last-child {
  margin-right: 0;
}
.buttons-area div:hover:not(div.disabled) {
  background-color: var(--buttons-active-background-c);
}
.buttons-area div:not(div.disabled):active {
  opacity: 0.7;
}
/* Disabled Button */
.buttons-area > div.disabled {
  cursor: no-drop;
  opacity: 0.3;
}
.buttons-area div i {
  font-size: 70px;
}

/* Pagination Area */
.pagination-area {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
/* Pagination Spans */
.pagination-area span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white-c);
  margin-right: 5px;
  transform: scale(0.5);
  transition: 0.3s ease-in-out;
  opacity: 0.4;
}
/* Current Active Span */
.pagination-area span.active {
  transform: scale(1);
  opacity: 1;
}
