$switch-speed: 1s;
$slider-number: 3;
$slider-width: 100% / $slider-number;

$image1: "../media/jugadores.jpg";
$image2: "../media/monchi2.jpg";
$image3: "../media/tribuna.jpg";

.s-wrap {
  width: 100%;
  /* margin-bottom: 50px; */
  padding-bottom: 34%;
  position: relative;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-height: 629px;
  > input {
    display: none;
  }

  .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% * $slider-number;
    height: 100%;
    font-size: 0;
    list-style: none;
    transition: transform $switch-speed;
    overflow-x: hidden;
  }

  .s-item {
    display: inline-block;
    width: $slider-width;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .s-item-1 {
    background-image: url($image1);
    background-position: center;
    background-size: cover;
  }
  @media (max-width: 755px) {
    .s-item-1 {
      background-size: 130%;
    }
  }
  .s-item-2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url($image2);
    background-size: cover;
    p {
      position: absolute;
      font-size: 17px;
    }
    p:nth-child(1) {
      top: 12%;
      left: 50%;
      transform: translateX(-50%);
      color: $color-principal;
      font-family: $font-titleItalic;
      margin-top: 16px;
    }
    p:nth-child(2) {
      color: white;
      left: 41%;
      top: 40%;
      max-width: 18%;
      text-align: center;
    }
  }
  .s-item-3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url($image3);
    background-position: center;
    p {
      position: absolute;
      font-size: 17px;
    }
    p:nth-child(1) {
      top: 12%;
      left: 83.1%;
      transform: translateX(-47%);
      color: #c3ff00;
      font-family: $font-titleItalic;
      margin-top: 16px;
    }
    p:nth-child(2) {
      color: white;
      left: 75%;
      top: 28%;
      max-width: 18%;
      text-align: center;
      margin-top: 29px;
    }
  }
}

@media (max-width: 1250px) {
  .s-wrap .s-item-3 p:nth-child(2){
    font-size: 15px;
  }
}
@media (max-width: 887px) {
  .s-wrap .s-item-3 p:nth-child(2){
    font-size: 13px;
  }
}
@media (max-width: 615px) {
  .s-wrap .s-item-3 p:nth-child(2){
    font-size: 12px;
  }
}
@media (max-width: 455px) {
  .s-wrap .s-item-3 p:nth-child(2){
    font-size: 11px;
  }
}
@media (max-width: 405px){
  .s-wrap .s-item-3 p:nth-child(1){
    font-size: 17.5px !important;
  }
  .s-wrap .s-item-3 p:nth-child(2) {
    font-size: 10px;
  }
}
@media (max-width: 857px) {
  .s-item-2 {
    p:nth-child(2) {
      top: 28% !important;
      font-size: 16px !important;
    }
  }
}
@media (max-width: 666px) {
  .s-item-2 {
    background-position: center !important;
  }
  .s-item-3 {
    p:nth-child(2) {
      margin-top: -5px !important;
    }
  }
}
@media (max-width: 575px) {
  .s-item-2 {
    p:nth-child(2) {
      font-size: 14px !important;
      max-width: 25% !important;
      transform: translateX(-12%);
    }
  }
}

.s-type-1 {
  .s-control {
    position: absolute;
    top: 129px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;

    > label[class^="s-c-"] {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 10px;
      border-radius: 50%;
      border: 2px solid #c3ff00;
      cursor: pointer;
    }
  }

  .s-title {
    color: $color-principal;
    font-family: $font-titleItalic;
  }

  .s-nav {
    position: absolute;
    top: 28px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    label {
      display: none;
      position: absolute;
      top: 9%;
      cursor: pointer;

      &.left {
        left: -79px;
      }

      &.right {
        right: -82px;
      }
    }
    &-right {
      color: $color-principal;
      width: 45px;
      transform: rotate(90deg);
    }
    &-left {
      color: $color-principal;
      width: 45px;
      transform: rotate(-90deg);
    }
  }

  @for $i from 1 through $slider-number {
    #s-#{$i}:checked {
      & ~ .s-content {
        transform: translateX(-$slider-width * ($i - 1));
      }

      & ~ .s-control .s-c-#{$i} {
        background-color: #c3ff00;
      }

      & ~ .s-nav .s-nav-#{$i} {
        display: block;
      }
    }
  }
}

//pushbar edit
.pushbar {
  display: flex;
  align-items: flex-start;
}
.carousel-inner {
  margin-top: 65px;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 17px;
  height: 17px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border: 2px solid #c3ff00;
  background: transparent;
}

.carousel-indicators .active {
  opacity: 1;
  background: #c3ff00;
}
.carousel-indicators {
  top: 19px !important;
}
.carousel-indicators {
  margin-right: 40%;
  margin-bottom: 1rem;
  margin-left: 40%;
  list-style: none;
}
.carousel-control-prev-icon {
  background-image: url("/media/flecha.svg");
  transform: rotate(-90deg);
}
.carousel-control-next-icon {
  background-image: url("/media/flecha.svg");
  transform: rotate(90deg);
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 10px;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 65%;
  padding: 0;
  text-align: center;
  background: none;
  border: 0;
  opacity: 1;
  transition: opacity 0.15s ease;
}
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  opacity: 1;
}

.first-pushbar p:nth-child(1) {
  color: $color-principal;
  font-family: $font-titleItalic;
}

.first-pushbar p {
  font-size: 0.9rem;
  color: #fff;
}
@media (max-width: 1346px) {
  .first-pushbar p {
    font-size: 0.7rem;
  }
}
