.nav-dots {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.nav-dot {
  width: 12px;
  height: 12px;
  border: 2px solid #c3ff00;
  border-radius: 50%;
  list-style: none;
  background: transparent;
  transition: all 0.3s;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &:hover,
  &.is-active {
    transform: scale(1.8);
    background: #c3ff00;
  }
}

.section {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;

  &:nth-of-type(1) {
    background-image: url(/media/background1.jpg);
    background-position: center;
  }

  &:nth-of-type(2) {
    background-image: url(/media/background1b.jpg);
  }

  &:nth-of-type(3) {
    background-color: #ffc952;
  }

  &:nth-of-type(4) {
    background-color: #ff7473;
  }
  &:nth-of-type(5) {
    background-color: #ffc952;
  }
}

.verticalSlider {
  overflow-x: hidden;
}

.section__heading {
  margin: 0;
  color: white;
  font-size: 32px;
  text-transform: capitalize;
}

.slider-containerB {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slideB {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slideB > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slideB p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -30px;
  position: absolute;
  z-index: 100;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: $color-principal;
  font-family: $font-titleItalic;
  font-size: 3.9rem !important;
}
.left-text {
  background-color: transparent;
}
.right-slideB {
    font-size: 16px;
  height: 100%;
  /* position: absolute; */
  top: 0;
  /* left: 15%;
    width: 85%; */
  width: 100%;
  transition: transform 0.5s ease-in-out;
  p {
    color: white;
    font-size: 1.125em;
  }
}
@media (max-width: 730px){
    .right-slideB{
        font-size: 15px;
    }
}
@media (max-width: 608px){
    .right-slideB{
        font-size: 14px;
    }
}
@media (max-width: 571px){
    .right-slideB{
        font-size: 12px;
    }
}
@media (max-width: 463px){
    .right-slideB{
        font-size: 10px;
    }
}
.right-slideB > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.slideUno {
  background-image: url("/media/background1.jpg");
}
.slideDos {
  background-image: url("/media/background1b.jpg");
}
.slideTres {
  background-image: url("/media/background1.jpg");
}
.slideCuatro {
  background-image: url("/media/background1b.jpg");
  img{
    min-width: 1010px;
  }
}
.slideCinco {
  background-image: url("/media/background3.jpg");
  &Image{
      background-image: url("/media/data1.jpg");
      background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.slideSeis {
  background-image: url("/media/background3b.jpg");
  &Image{
    background-image: url("/media/data2.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
}
.slideSiete {
  background-image: url("/media/background3.jpg");
  &Image{
    background-image: url("/media/data3.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
}
.slideOcho {
  background-image: url("/media/background2.jpg");
  img{
    min-width: 610px;
  }
}
.slideNueve {
  background-image: url("/media/background2.jpg");
}

.slider-containerB .action-buttonsB img {
  position: absolute;
  left: 6.3%;
  top: 50%;
  z-index: 100;
}
.action-buttonsB {
  img {
    width: 45px;
    cursor: pointer;
  }
}
.slider-containerB .action-buttonsB .down-buttonB {
  transform: translateY(-650%) rotate(0deg);
}

.slider-containerB .action-buttonsB .up-buttonB {
  transform: translateY(450%) rotate(-180deg);
}

.vertical {
  &Title {
    color: $color-principal !important;
    font-family: $font-titleItalic;
  }
  &Grafico {
    min-width: 1170px;
  }
  &Scroll {
    overflow-x: scroll;
  }
}
