@font-face {
    font-family: 'DinBlackItalic'; /*a name to be used later*/
    src: url('../media/DINPro-BlackItalic.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'DinBold'; /*a name to be used later*/
    src: url('../media/DINPro-Bold.ttf'); /*URL to font*/
}